.footer {
  background-color: $colorBlue;
  color: $colorWhite;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 46px 0;
}

.footer-menu {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: $colorWhite;
  flex: 1;
  width: 100%;
  max-width: 900px;
  margin: auto;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;

    li {
    }
  }

  a {
    @include text-decoration-hover($colorWhite);
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 31px;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.thisYear {
}

.developer {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.developer__text {
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.developer__link {
  max-height: 22px;
}
