@media (max-width: 767px) {
  .header-call {
    .btn {
      display: none;
    }
  }

  .header-call__phone {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-inner {
    gap: 15px;
  }

  .grettings-text .caption {
    font-size: 28px;
    line-height: 34px;
  }

  .grettings-text {
    font-size: 13px;
    line-height: 18px;
    gap: 8px;
  }

  .main {
    padding-top: 45px;
  }

  .grettings {
    padding-top: calc(243 / 320 * 100%);
  }

  .advantages__list {
    grid-template-columns: 1fr;
    border: 0;
  }

  .advantages__item {
    border: 0 !important;
    padding: 24px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px 16px;

    p {
      width: 100%;
    }

    & + .advantages__item {
      border-top: solid 1px $colorYellow !important;
    }
  }

  .advantages {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .advantage__name {
    margin: 0;
  }

  .advantage__icon {
    width: 33px;
    height: 30px;
  }

  .advantages__item {
    font-size: 13px;
    line-height: 18px;
  }

  .for-block__list {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .for-block::before {
    display: none;
  }

  .for-block__item .picture {
    padding-top: calc(240 / 282 * 100%);
  }

  .for-block .caption {
    padding: 0 10px;
  }

  .for-block .container {
    padding-left: 0;
    padding-right: 0;
  }

  .for-block__title {
    min-height: 40px;
  }

  .for-block__name::before {
    width: 20px;
    height: 16px;
  }

  .for-block__text {
    margin-top: 0;
    font-size: 13px;
    line-height: 18px;
  }

  .for-block__content {
    padding: 8px 16px 16px;
  }

  h2,
  .caption--h2 {
    font-size: 36px;
    line-height: 42px;
  }

  section {
    padding: 20px 0;
  }

  .product-list {
    grid-template-columns: 1fr;
  }

  .product-item {
    &:nth-child(2n) {
      border-left-color: transparent;
    }

    &:nth-child(-n + 2) {
      border-top: solid 1px $colorYellow;
    }
  }

  .product-item__link {
    min-height: 64px;
    padding-left: 45px;
  }

  .product-item__link::before {
    width: 16px;
    height: 11px;
  }

  .product-section__body {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .product-item__link::before {
    left: 16px;
  }

  .about-section__text {
    width: 100%;
  }

  .about-section__media {
    position: relative;
    width: 100%;
    padding-top: calc(200 / 320 * 100%);
    top: 0;
    left: 0;
    right: auto;
  }

  .about-list {
    grid-template-columns: 1fr;
  }

  .about-section__body {
    min-height: initial;
    padding: 16px 0;
    margin-top: 16px;

    &::before {
      width: 100%;
    }
  }

  .about-section__text {
    max-width: 100%;
    width: 100%;
  }

  .about-item:first-child {
    grid-column: 1 / 2;
    min-height: initial;
    margin-bottom: 25px;
  }

  .about-section__info {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .about-item__desc::before {
    display: none;
  }

  .about-item__desc {
    width: 100%;
    padding: 0 17px;
  }

  .about-item__desc {
    min-height: initial;
    width: 100%;
    max-width: calc(100% - 34px);
    margin: 0 auto;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    border-left: solid 1px $colorYellow;
    border-right: solid 1px $colorYellow;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin: 0;
      transform: translateY(0px);

      &::after {
        display: none;
      }
    }
  }

  .about-item::before {
    display: none;
  }

  .about-item {
    gap: 0;
    min-height: 111px;
  }

  .other-case__list {
    grid-template-columns: 1fr;
    margin-top: 24px;
  }

  .other-case__item {
    height: 140px;
    border: 0;
    border-top: solid 1px $colorYellow;

    &:nth-child(-n + 4) {
      border-top: solid 1px $colorYellow;
    }

    &:nth-child(4n),
    &:last-child {
      border-right: 0;
    }

    &:last-child {
      border-bottom: solid 1px $colorYellow;
    }
  }

  .other-case__back {
    padding: 14px 16px;
  }

  .other-case__text {
    font-size: 13px;
    line-height: 18px;
    -webkit-line-clamp: 3;

    strong {
      font-size: 13px;
      line-height: 18px;
    }
  }

  .other-case__link {
    margin-top: 0;
    font-size: 13px;
    line-height: 18px;
  }

  .other-case__name {
    margin-bottom: 0;
  }

  .slider-reviews {
    width: 100%;
    height: auto;
    margin: 24px auto 0;
  }

  .slider-reviews .picture {
    width: 100%;
    height: auto;
    padding-top: calc(320 / 320 * 100%);
    margin: 0;
  }

  .slider-reviews {
    .swiper-slide-visible {
      .slider-reviews__content {
        left: 0;
        width: 100%;
        height: auto;
        opacity: 1;
        max-width: 100%;
        position: relative;
        padding: 24px 16px;
      }
    }

    .swiper-button-prev {
      display: none;
    }

    .swiper-button-next {
      display: flex;
    }
  }

  .slider-reviews__content {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    max-width: 100%;
    position: relative;
    padding: 24px 16px;
  }

  .slider-reviews .swiper-slide-visible .picture {
    width: 100%;
    height: auto;
    padding-top: calc(320 / 320 * 100%);
  }

  .slider-reviews__text {
    margin-top: 16px;
    min-height: initial;
    display: block;
    font-size: 13px;
    line-height: 18px;
  }

  .slider-reviews .swiper-button {
    left: 16px;
    position: relative;
    margin: 0;
    top: 0;
  }

  .slider-reviews .swiper-slide-next + .swiper-slide,
  .slider-reviews .swiper-slide-next {
    opacity: 1;
    pointer-events: initial;
  }

  .slider-reviews__title {
    padding-bottom: 0;
    border: 0;
  }

  .review-section__body .container {
    padding-left: 0;
    padding-right: 0;
  }

  .slider-reviews {
    transform: translateX(0);
  }

  .contacts-section__text {
    width: 100%;
    max-width: 100%;
  }

  .map-block {
    top: auto;
    bottom: 270px;
    width: 100%;
    position: absolute;
    height: 260px;
  }

  .input-item input {
    font-size: 16px;
    line-height: 20px;
    height: 30px;
  }

  .contacts-info__form .input-item + .input-item {
    margin-top: 24px;
  }

  .contacts-info__form {
    margin-top: 320px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;

    .btn {
      margin-top: 24px;
      height: 50px;
    }
  }

  .contacts-info .container {
    padding-left: 0;
    padding-right: 0;
  }

  .contacts-section {
    padding: 0;
  }

  .contacts-info__top svg {
    width: 20px;
    height: 20px;
    min-width: 20px;
    transform: translateY(-1px);
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
    }

    .social {
      margin-top: 24px;
    }
  }

  .footer-menu {
    margin-top: 24px;
    padding-top: 24px;
    border-top: solid 1px $colorWhite;

    ul {
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 24px;
  }

  .footer-content {
    padding: 40px 0;
  }

  .review-section {
    padding-bottom: 20px;
  }

  .grettings-service {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .grettings-service__caption::before {
    left: -10px;
    width: calc(100% + 20px);
  }

  .grettings-service {
    height: auto;
    min-height: initial;
    padding-top: calc(245 / 320 * 100%);
  }

  .grettings-service .picture {
    height: auto;
    padding-top: calc(245 / 320 * 100%);
  }

  .grettings-service .picture img {
  }

  .grettings-service__caption {
    padding: 16px 0;
    max-width: 100%;
  }

  .service-block .container {
    padding-left: 0;
    padding-right: 0;
  }

  .service-block__inner {
    margin: 0;
    width: 100%;
  }

  .service-list {
    margin: 0;
  }

  .service-item {
    width: 100% !important;
    border: 0 !important;
    padding: 24px 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px 20px;

    & + .service-item {
      border-top: solid 1px $colorYellow !important;
    }
  }

  .service-item__name {
    min-height: initial;
    margin: 0;
    width: calc(100% - 60px);
  }

  .about-section__info .picture {
    display: block;
    position: relative;
    height: auto;
    padding-top: calc(100 / 320 * 100%);
    width: 100%;
  }

  .offers-list:not(.offers-list--count-1) {
    grid-template-columns: 1fr;
  }

  .offers-item__text {
    font-size: 13px;
    line-height: 18px;
    min-height: 126px;
  }

  .offers-tabs .list-links {
    display: none;
  }

  .offers-section__body::before {
    display: none;
  }

  .offers-section__body {
    padding: 0;
    margin: 0;
  }

  .tabs-body {
    padding-top: 0;
  }

  .offers-tabs {
    margin-top: 16px;
  }

  .offers-list--count-3 .offers-controls .offers-controls__btn {
    margin-top: 8px;
  }

  .tabs-body {
    display: block !important;
  }

  .offers-list--count-1 .offers-controls {
    flex-direction: column;
    gap: 30px;
  }

  .offers-list {
    display: none;
    padding: 16px 0;
  }

  .tab-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    min-height: 72px;
    width: 100%;
    text-transform: uppercase;
    padding: 8px;
    border-top: solid 1px rgba(222, 186, 119, 1);

    &.opened {
      background-color: $colorYellow;

      &:after {
        transform: rotate(90deg);
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 0.66683L9.33334 9.00016L1 17.3335M12.6667 0.666831L21 9.00016L12.6667 17.3335' stroke='%23030E2C' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      }
    }

    @include after {
      position: relative;
      pointer-events: none;
      left: 2px;
      width: 30px;
      height: 25px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='28' viewBox='0 0 32 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1.5L13.5 14L1 26.5M18.5 1.5L31 14L18.5 26.5' stroke='%23DEBA77' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    }
  }

  .offers-item {
    & + .offers-item {
      margin-top: 16px;
    }
  }

  .offers-item__text {
    min-height: initial;
  }

  .case-text {
    font-size: 13px;
    line-height: 18px;

    p + p {
      margin-top: 8px;
    }
  }

  .case-text__col {
    width: 100%;

    & + .case-text__col {
      padding-top: 0;
    }
  }

  .case-checlist__list {
    grid-template-columns: 1fr;
    border-bottom: solid 1px $colorYellow;
  }

  .case-checlist__item {
    border-top: solid 1px $colorYellow;
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;

    &:nth-last-child(-n + 2) {
      display: none;
    }
  }

  .case-checlist__item svg {
    width: 16px;
    min-width: 16px;
  }

  .case-checlist__item {
    padding: 16px;
    min-height: 64px;
  }

  .case-consul .offers-controls__btn {
    flex-direction: column;
    gap: 16px;
    max-width: 90%;
    margin: 16px auto 0;
  }

  .case-result__content {
    align-items: flex-start;
    padding: 21px;
  }

  .case-result__content {
    font-size: 13px;
    line-height: 18px;
    gap: 15px;
    margin-top: 24px;

    svg {
      width: 30px;
      min-width: 30px;
    }
  }

  .case-media__content .caption {
    font-size: 18px;
    line-height: 22px;
  }

  .case-media__line {
    min-height: initial;
    padding-bottom: 24px;
    font-size: 13px;
    line-height: 18px;
  }

  .case-media__line .caption {
    width: 100%;
  }

  .case-media__content {
    width: 100%;
    max-width: 100%;
    margin-top: 24px;
    background-color: #f7f7f8;
    padding: 16px;
  }

  .case-media__line::before {
    display: none;
  }

  .case-media .picture {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    height: auto;
    padding-top: calc(255 / 320 * 100%);
  }

  .title-section {
    padding: 0;
  }

  .logo-list {
    grid-template-columns: 1fr 1fr;
    gap: 40px 0;
    position: relative;
    width: 100%;

    @include before {
      top: 50%;
      height: 1px;
      background-color: $colorYellow;
      width: calc(100% - 32px);
      left: 16px;
    }
  }

  .logo-item {
    & + .logo-item {
      border-left: 0;
    }

    &:nth-child(2n) {
      border-left: solid 1px $colorYellow;
    }
  }

  section.about-section__info .about-item__desc {
    margin-top: 0;
  }

  .case-media__row:nth-child(2n) .case-media__line .caption {
    text-align: left;
  }

  .case-media__row + .case-media__row {
    margin-top: 40px;
  }

  .form-quest__form {
    width: 100%;

    .contacts-info__form {
      padding-left: 0;
      padding-right: 0;
      margin-top: 32px;
    }
  }

  .form-quest .desc {
    margin-top: 8px;
  }

  .form-quest .picture {
    width: 100%;
    height: auto;
    padding-top: calc(280 / 320 * 100%);
    order: 2;
  }

  .case-media__row--full .case-media__content {
    padding: 16px;
  }

  .making-thead {
    display: none;
  }

  .making-table {
    font-size: 13px;
    line-height: 18px;
  }
  .making-table .td:first-child {
    width: 100%;
  }

  .making-tbody .tr {
    flex-wrap: wrap;
  }

  .making-table__content {
    width: 100%;
    padding: 10px;
    border: 0;
  }

  .making-table .td {
    width: 100%;
  }

  .making-table__num {
    font-size: 64px;
    line-height: 76px;
  }

  .making-table {
    margin-top: 16px;
  }

  .making-decisions .text-row {
    margin-top: 20px;
    gap: 20px;
    font-size: 13px;
    line-height: 18px;
  }

  .making-decisions .text-row .text-col {
    width: 100%;
  }

  .text-mobile {
    width: 100%;
    background-color: $colorBlue;
    color: $colorWhite;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    padding: 16px 5px;
  }

  .making-tbody .tr {
    gap: 0;
  }

  .making-table__name {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    max-width: 80%;
  }
}
